.App {
  padding:2% 5%;
}

input{
  border:none;
  width: 100%;
}
input:focus{
  border-color: none;
  box-shadow: none;
  outline: none;
}

table{
  width:100%;
}

tr {
  line-height: 25px !important;
  min-height: 45px !important;
  height: 45px !important;
}

.pagination-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
i{
  cursor: pointer;
}
.sidebar-table{
  font-size: 12px;
}

